.noto-sans-jp-200 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

input{
    height: 50px;
    width: 100px;
    font-size: larger;
    text-align: center;
}

button{
    padding: 20px 40px;
    background-color: pink;
    color: black;
    border: none;
    border-radius: 5px;
}

